<section class="panel">
    <div class="mythic-char-strip-header">
      <h2>Characteristics</h2>
      {{#if mythicCharBuilder.managed}}
        {{#if mythicSystem.settings.automation.showWorkflowGuidance}}
          <span class="mythic-workflow-guidance-tag" title="Manage these values from Character Creation and Advancement.">
            <span>Manage from</span>
            <i class="fas fa-arrow-trend-up" aria-hidden="true"></i>
          </span>
        {{/if}}
      {{/if}}
    </div>

    <div class="characteristics-strip">
      <div class="characteristic-block">
        <button class="roll-characteristic" type="button" data-characteristic="str" data-label="STR" title="Strength | Score: @system.characteristics.str | Modifier: floor(@system.characteristics.str / 10)">STR</button>
        {{#if mythicCharBuilder.managed}}
          <input name="system.characteristics.str" type="number" min="0" value="{{lookup mythicCharacteristicScores 'str'}}" readonly title="Score variable: @system.characteristics.str" />
        {{else}}
          <input name="system.characteristics.str" type="number" min="0" value="{{lookup mythicCharacteristicScores 'str'}}" title="Score variable: @system.characteristics.str" />
        {{/if}}
        <div class="characteristic-modifier" title="Modifier variable: @STR_MOD (sheet alias), macro path: floor(@system.characteristics.str / 10)">{{lookup mythicCharacteristicModifiers "str"}}</div>
      </div>

      <div class="characteristic-block">
        <button class="roll-characteristic" type="button" data-characteristic="tou" data-label="TOU" title="Toughness | Score: @system.characteristics.tou | Modifier: floor(@system.characteristics.tou / 10)">TOU</button>
        {{#if mythicCharBuilder.managed}}
          <input name="system.characteristics.tou" type="number" min="0" value="{{lookup mythicCharacteristicScores 'tou'}}" readonly title="Score variable: @system.characteristics.tou" />
        {{else}}
          <input name="system.characteristics.tou" type="number" min="0" value="{{lookup mythicCharacteristicScores 'tou'}}" title="Score variable: @system.characteristics.tou" />
        {{/if}}
        <div class="characteristic-modifier" title="Modifier variable: @TOU_MOD (sheet alias), macro path: floor(@system.characteristics.tou / 10)">{{lookup mythicCharacteristicModifiers "tou"}}</div>
      </div>

      <div class="characteristic-block">
        <button class="roll-characteristic" type="button" data-characteristic="agi" data-label="AGI" title="Agility | Score: @system.characteristics.agi | Modifier: floor(@system.characteristics.agi / 10)">AGI</button>
        {{#if mythicCharBuilder.managed}}
          <input name="system.characteristics.agi" type="number" min="0" value="{{lookup mythicCharacteristicScores 'agi'}}" readonly title="{{#if mythicGravityAgilityPenalty}}Gravity Penalty Active - Effective: {{lookup mythicCharacteristicScores 'agi'}}{{else}}Score variable: @system.characteristics.agi{{/if}}" />
        {{else}}
          <input name="system.characteristics.agi" type="number" min="0" value="{{lookup mythicCharacteristicScores 'agi'}}" {{#if mythicGravityAgilityPenalty}}title="Gravity Penalty Active: -{{mythicGravityAgilityPenalty}}. Effective AGI = {{lookup mythicEffectiveCharacteristics 'agi'}}"{{else}}title="Score variable: @system.characteristics.agi"{{/if}} />
        {{/if}}
        <div class="characteristic-modifier{{#if mythicGravityAgilityPenalty}} gravity-penalized{{/if}}" title="Modifier variable: @AGI_MOD (sheet alias), macro path: floor(@system.characteristics.agi / 10)">{{lookup mythicCharacteristicModifiers "agi"}}</div>
      </div>

      <div class="characteristic-block">
        <button class="roll-characteristic" type="button" data-characteristic="wfm" data-label="WFM" title="Warfare Melee | Score: @system.characteristics.wfm | Modifier: floor(@system.characteristics.wfm / 10)">WFM</button>
        {{#if mythicCharBuilder.managed}}
          <input name="system.characteristics.wfm" type="number" min="0" value="{{lookup mythicCharacteristicScores 'wfm'}}" readonly title="Score variable: @system.characteristics.wfm" />
        {{else}}
          <input name="system.characteristics.wfm" type="number" min="0" value="{{lookup mythicCharacteristicScores 'wfm'}}" title="Score variable: @system.characteristics.wfm" />
        {{/if}}
        <div class="characteristic-modifier" title="Modifier variable: @WFM_MOD (sheet alias), macro path: floor(@system.characteristics.wfm / 10)">{{lookup mythicCharacteristicModifiers "wfm"}}</div>
      </div>

      <div class="characteristic-block">
        <button class="roll-characteristic" type="button" data-characteristic="wfr" data-label="WFR" title="Warfare Ranged | Score: @system.characteristics.wfr | Modifier: floor(@system.characteristics.wfr / 10)">WFR</button>
        {{#if mythicCharBuilder.managed}}
          <input name="system.characteristics.wfr" type="number" min="0" value="{{lookup mythicCharacteristicScores 'wfr'}}" readonly title="Score variable: @system.characteristics.wfr" />
        {{else}}
          <input name="system.characteristics.wfr" type="number" min="0" value="{{lookup mythicCharacteristicScores 'wfr'}}" title="Score variable: @system.characteristics.wfr" />
        {{/if}}
        <div class="characteristic-modifier" title="Modifier variable: @WFR_MOD (sheet alias), macro path: floor(@system.characteristics.wfr / 10)">{{lookup mythicCharacteristicModifiers "wfr"}}</div>
      </div>

      <div class="characteristic-block">
        <button class="roll-characteristic" type="button" data-characteristic="int" data-label="INT" title="Intellect | Score: @system.characteristics.int | Modifier: floor(@system.characteristics.int / 10)">INT</button>
        {{#if mythicCharBuilder.managed}}
          <input name="system.characteristics.int" type="number" min="0" value="{{lookup mythicCharacteristicScores 'int'}}" readonly title="Score variable: @system.characteristics.int" />
        {{else}}
          <input name="system.characteristics.int" type="number" min="0" value="{{lookup mythicCharacteristicScores 'int'}}" title="Score variable: @system.characteristics.int" />
        {{/if}}
        <div class="characteristic-modifier" title="Modifier variable: @INT_MOD (sheet alias), macro path: floor(@system.characteristics.int / 10)">{{lookup mythicCharacteristicModifiers "int"}}</div>
      </div>

      <div class="characteristic-block">
        <button class="roll-characteristic" type="button" data-characteristic="per" data-label="PER" title="Perception | Score: @system.characteristics.per | Modifier: floor(@system.characteristics.per / 10)">PER</button>
        {{#if mythicCharBuilder.managed}}
          <input name="system.characteristics.per" type="number" min="0" value="{{lookup mythicCharacteristicScores 'per'}}" readonly title="Score variable: @system.characteristics.per" />
        {{else}}
          <input name="system.characteristics.per" type="number" min="0" value="{{lookup mythicCharacteristicScores 'per'}}" title="Score variable: @system.characteristics.per" />
        {{/if}}
        <div class="characteristic-modifier" title="Modifier variable: @PER_MOD (sheet alias), macro path: floor(@system.characteristics.per / 10)">{{lookup mythicCharacteristicModifiers "per"}}</div>
      </div>

      <div class="characteristic-block">
        <button class="roll-characteristic" type="button" data-characteristic="crg" data-label="CRG" title="Courage | Score: @system.characteristics.crg | Modifier: floor(@system.characteristics.crg / 10)">CRG</button>
        {{#if mythicCharBuilder.managed}}
          <input name="system.characteristics.crg" type="number" min="0" value="{{lookup mythicCharacteristicScores 'crg'}}" readonly title="Score variable: @system.characteristics.crg" />
        {{else}}
          <input name="system.characteristics.crg" type="number" min="0" value="{{lookup mythicCharacteristicScores 'crg'}}" title="Score variable: @system.characteristics.crg" />
        {{/if}}
        <div class="characteristic-modifier" title="Modifier variable: @CRG_MOD (sheet alias), macro path: floor(@system.characteristics.crg / 10)">{{lookup mythicCharacteristicModifiers "crg"}}</div>
      </div>

      <div class="characteristic-block">
        <button class="roll-characteristic" type="button" data-characteristic="cha" data-label="CHA" title="Charisma | Score: @system.characteristics.cha | Modifier: floor(@system.characteristics.cha / 10)">CHA</button>
        {{#if mythicCharBuilder.managed}}
          <input name="system.characteristics.cha" type="number" min="0" value="{{lookup mythicCharacteristicScores 'cha'}}" readonly title="Score variable: @system.characteristics.cha" />
        {{else}}
          <input name="system.characteristics.cha" type="number" min="0" value="{{lookup mythicCharacteristicScores 'cha'}}" title="Score variable: @system.characteristics.cha" />
        {{/if}}
        <div class="characteristic-modifier" title="Modifier variable: @CHA_MOD (sheet alias), macro path: floor(@system.characteristics.cha / 10)">{{lookup mythicCharacteristicModifiers "cha"}}</div>
      </div>

      <div class="characteristic-block">
        <button class="roll-characteristic" type="button" data-characteristic="ldr" data-label="LDR" title="Leadership | Score: @system.characteristics.ldr | Modifier: floor(@system.characteristics.ldr / 10)">LDR</button>
        {{#if mythicCharBuilder.managed}}
          <input name="system.characteristics.ldr" type="number" min="0" value="{{lookup mythicCharacteristicScores 'ldr'}}" readonly title="Score variable: @system.characteristics.ldr" />
        {{else}}
          <input name="system.characteristics.ldr" type="number" min="0" value="{{lookup mythicCharacteristicScores 'ldr'}}" title="Score variable: @system.characteristics.ldr" />
        {{/if}}
        <div class="characteristic-modifier" title="Modifier variable: @LDR_MOD (sheet alias), macro path: floor(@system.characteristics.ldr / 10)">{{lookup mythicCharacteristicModifiers "ldr"}}</div>
      </div>
    </div>
    {{#if mythicGravityAgilityPenalty}}
      <div class="mythic-gravity-penalty-notice">
        <i class="fas fa-weight-hanging" aria-hidden="true"></i>
        Gravity Penalty Active - AGI -{{mythicGravityAgilityPenalty}} ({{mythicGravityValue}}g environment, equip Gravity Belt to resist)
      </div>
    {{/if}}
  </section>

  

