<div class="armor-side-label armor-side-left">LEFT</div>
<div class="armor-side-label armor-side-right">RIGHT</div>
<img class="armor-body-image" src="systems/Halo-Mythic-Foundry-Updated/assets/images/Body Location.png" alt="Armor body locations" />

<div class="armor-dr-node armor-dr-head">
  <input id="armor-head" class="armor-dr-input" type="number" min="0" step="1" name="system.protection.head"
    value="{{gear.protection.head}}" {{#unless canEditFields}}disabled{{/unless}} />
</div>

<div class="armor-dr-node armor-dr-chest">
  <input id="armor-chest" class="armor-dr-input" type="number" min="0" step="1" name="system.protection.chest"
    value="{{gear.protection.chest}}" {{#unless canEditFields}}disabled{{/unless}} />
</div>

<div class="armor-dr-node armor-dr-larm">
  <input id="armor-larm" class="armor-dr-input" type="number" min="0" step="1" name="system.protection.lArm"
    value="{{gear.protection.lArm}}" {{#unless canEditFields}}disabled{{/unless}} />
</div>

<div class="armor-dr-node armor-dr-rarm">
  <input id="armor-rarm" class="armor-dr-input" type="number" min="0" step="1" name="system.protection.rArm"
    value="{{gear.protection.rArm}}" {{#unless canEditFields}}disabled{{/unless}} />
</div>

<div class="armor-dr-node armor-dr-lleg">
  <input id="armor-lleg" class="armor-dr-input" type="number" min="0" step="1" name="system.protection.lLeg"
    value="{{gear.protection.lLeg}}" {{#unless canEditFields}}disabled{{/unless}} />
</div>

<div class="armor-dr-node armor-dr-rleg">
  <input id="armor-rleg" class="armor-dr-input" type="number" min="0" step="1" name="system.protection.rLeg"
    value="{{gear.protection.rLeg}}" {{#unless canEditFields}}disabled{{/unless}} />
</div>
